.panel-about{
    display: block;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url('/image/mainpage/about/about-mobihub 3.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color:#fff;
    text-align: left;
    font-family: 'Prompt', sans-serif;
}

.panel-about h2 {
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 35px;
    font-family: 'Prompt', sans-serif;
    color: #fff;
}
.panel-about h4{
    color:#fff;
    font-family: 'Prompt', sans-serif;
}
.panel-about h4::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    bottom: 0;
    left: 14px;
    border-bottom: 2px solid #d01418;
    margin: 0 auto;
}

.panel-about p{
    width: 50%;
    line-height: 35px;
}
/* .panel-about-content h4{
    color:#ca2027;
}
.panel-about-content h2{
    color:#000;
    line-height: 40px;
    margin-bottom: 30px;
}
.panel-about-content p{
    color:#7f8d9a;
}
.panel-about-content .panel-about-detail ul{
    margin-top: 30px;
    margin-bottom: 30px;
}
.panel-about-content .panel-about-detail li{
    list-style: none;
    display: inline-block;
    width: 48%;
}
.panel-about-content .panel-about-detail li:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f14a";
    margin-right: 10px;
    color:#ca2027;
}
.panel-about-content .panel-about-detail .icon,.panel-about-content .panel-about-detail .service{
    display: inline-block;
}
.panel-about-content .panel-about-detail .icon{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    text-align: center;
    color:#fff;
    background: #ca2027;
    float: left;
}
.panel-about-content .panel-about-detail .service{
    width: 80%;
    display: inline-block;
    float: right;
    margin-top: -50px;
}
.panel-about-content .panel-about-detail .service label{
    color:#000;
} */
.about-service{
    margin-top: -90px;
    margin-bottom: 90px;
    z-index: 1;
}
.about-service h4{
    margin-bottom: 20px;
}
.about-service h3{
    color:#000;
    margin-bottom: 30px;
}
.about-service .our-service{
    padding: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15),10px 10px rgba(0,0,0,0.05);
    z-index: 1;
}
.about-service .service-box{
    padding: 20px;
    background: #fff;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}
.about-service .service-box:nth-child(2),
.about-service .service-box:nth-child(4){
    background: #999999;
    color:#fff;
}
.about-service .service-box:nth-child(2) h4,
.about-service .service-box:nth-child(4) h4{
    color:#fff;
    font-weight: bold;
}

.about-service .service-box .icon{
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    background: #ca2027;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 50px;
}
.about-service .service-box .iconic{
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 50px;
}
.about-service .service-box .icon img,
.about-service .service-box .iconic img{
    height: 35px;
    width: auto;
}

.about-service-2{
    padding-bottom: 90px;
}
.about-service-2 h2{
    font-weight: bold;
    color:#000;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}
/* .about-service-2 h2::before {
    content: "-";
    color:#d01418;
} */
/* .about-service-2 h2::before {
    position: absolute;
    display:block;
    top:0;
    left:0;
    bottom:0;
    content: attr(data-content);
    background-color:#FFF;
    color:#FFF;
    z-index:-1;
    padding-right:.5em;
} */

/* .about-service-2 h2::after {
    position:absolute;
    content:'';
    display: block;
    width: 10%;
    right:55%;
    top:45%;
    background-color:rgb(231, 14, 14);
    height:1px;
    min-height:2px;
    z-index:-2;
} */

.about-service-2 h2:before,
.about-service-2 h2:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #ca2027;
    margin: auto;
}

.about-service-2 .title{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-service-2 .service-box{
    box-shadow: 0 0 10px -3px rgba(0,0,0,0.2);
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 20px;
}
.about-service-2 .service-box i{
    font-size: 40px;
    color: #999999;
    position: absolute;
}
.about-service-2 .service-box p{
    margin-left: 50px;
    margin-top: 10px;
    font-weight: bold;
    color:#000;
}
.about-service-2 .service-box:before{
    content: '';
    background: rgba(208,20,24,.1);
    width: 30px;
    height: 25px;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    right: 15px;
    border-top-left-radius: 7px;
    z-index: 1;
    transition: all 0.4s ease;
}
.about-service-2 .service-box:hover{
    background: rgb(46 46 46 / 10%);;
    transition: all 0.4s ease;
    cursor: pointer;
}
.about-service-2 .service-box:hover .service-box:before{
    background:transparent;
}
/* .about-service-2 .service-box::before{
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    font-weight: 900;
    content: "\f14a";
    color: #ca2027;
} */
#our-service{
    padding-top: 90px;
    padding-bottom: 90px;
    background: #F4F4F4;
    position: relative;
    background-image: url('/image/about-us-2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: -50px;
}
#our-service h2{
    font-family: 'Prompt';
    font-weight: 900;
    font-style: normal;
    margin-bottom: 50px;
    font-size: 27px;
    margin-top: 0px;
    line-height: 137%;
    color: #505050;
    width: 80%;
    text-transform: uppercase;
}
#our-service h4{
    color: #505050;
    font-size: 16px;
    margin-bottom: 20px;
}
#our-service h3{
    color: #505050;
    font-weight: 400;
    font-size: 16px;
}
#our-service h4::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    bottom: 0;
    left: 14px;
    border-bottom: 2px solid #ca2027;
    margin: 0 auto;
}
#our-service .service-box{
    margin-bottom: 30px;
}
#our-service .service-box h3{
    color: #505050;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 88%;
}
#our-service .service-box p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #505050;
}
#our-service .service-box span{
    color:#ca2027;
}
#our-service .service-box .icon img{
    height: 50px;
    width: auto;
}
#our-service .our-img{
}
/* #our-service .our-img img{
    border-left: 8px solid #fff;
    border-bottom: 8px solid #fff;
} */


.form-control{
    border:1px solid #ddd;
}
.contact-content{
    background: #ca2027;
    color:#fff;
    padding: 55px;
    text-align: center;
    margin-top: 20px;
}
.contact-content h2{
    font-weight: bold;
    margin-bottom: 30px;
}
.contact-content .btn-danger{
    background: rgba(255,255,255,.3);
    border:none;
    padding: 15px;
    margin-top: 30px;
}
.contact-content .btn-danger:hover{
    background: #fff;
    color:#000;
    transition: all 0.3s ease 0s;
}
.contact-form{
    margin-bottom: 30px;
}
.contact-form h1{
    color:#000;
    font-weight: bold;
    margin-bottom: 30px;
}
.contact-form .form-control{
    margin-bottom: 15px;
}
.contact-map{
    margin-bottom: 50px;
}
.contact-map iframe{
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
}
.contact-map .service-box{
    text-align: center;
    /* background: #ca2027; */
    color:#000;
    padding: 20px;
}
.contact-map .service-box i{
    font-size: 60px;
    color:#ff4646;
}
@media (min-width:320px) and (max-width:600px){
    .panel-about p {
        width: 100%;
        line-height: 35px;
    }
    #our-service h2 {

        font-size: 22px;
        width: 100%;

    }
    .about-service-2 .service-box {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
