body{
    font-family: Prompt !important;
    background-color:#fff !important;
}
.panel-about{
    display: block;
    position: relative;
    padding-top: 100px;
    padding-bottom: 200px;
    background-image: url('/image/mainpage/about/1. Cover Page.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-color:#fff;
    text-align: left;
    font-family: 'Prompt', sans-serif;
}

.panel-about h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 35px;
    font-family: 'Prompt', sans-serif;
    color: #000;
    text-align: center;
}

.panel-about p{
    text-align: center;
    font-size: 12px;
    padding: 0 174px;
    font-family: 'Prompt', sans-serif;
}
/* .panel-about-content h4{
    color:#ca2027;
}
.panel-about-content h2{
    color:#000;
    line-height: 40px;
    margin-bottom: 30px;
}
.panel-about-content p{
    color:#7f8d9a;
}
.panel-about-content .panel-about-detail ul{
    margin-top: 30px;
    margin-bottom: 30px;
}
.panel-about-content .panel-about-detail li{
    list-style: none;
    display: inline-block;
    width: 48%;
}
.panel-about-content .panel-about-detail li:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f14a";
    margin-right: 10px;
    color:#ca2027;
}
.panel-about-content .panel-about-detail .icon,.panel-about-content .panel-about-detail .service{
    display: inline-block;
}
.panel-about-content .panel-about-detail .icon{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    text-align: center;
    color:#fff;
    background: #ca2027;
    float: left;
}
.panel-about-content .panel-about-detail .service{
    width: 80%;
    display: inline-block;
    float: right;
    margin-top: -50px;
}
.panel-about-content .panel-about-detail .service label{
    color:#000;
} */
.about-service{
    margin-top: -90px;
    margin-bottom: 90px;
    z-index: 1;
}
.about-service h4{
    font-family: 'Prompt', sans-serif;
    color: #919191;
    font-weight: 400;
}
.about-service h3{
    font-family: 'Prompt', sans-serif;
    color:#000;
    margin-bottom: 30px;
}
.about-service .our-service{
    padding: 0px;
    z-index: 1;
}
.about-service .service-box{
    padding: 30px 30px  0;
    background: #fff;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%), 10px 10px rgb(0 0 0 / 5%);
}
.about-service .service-box:nth-child(2),
.about-service .service-box:nth-child(4){
    background: #fff;
    color: #fff;
}

.about-service .service-box .icon{
    display: block;
    height: auto;
    width: 100%;
    line-height: 60px;
    text-align: center;
    margin-bottom: 10px;
}
.about-service .service-box .iconic{
    display: block;
    height: auto;
    width: 100%;
    line-height: 60px;
    text-align: center;
    margin-bottom: 10px;
}
.about-service .service-box .icon img,
.about-service .service-box .iconic img{
    height: 100%;
    width: 100%;
}
#about-vision{
    display: block;
    position: relative;
    padding-top: 250px;
    padding-bottom: 150px;
    background-image: url('/image/mainpage/about/6. Vision & Mission.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-color:#fff;
    text-align: left;
    font-family: 'Prompt', sans-serif;
}

#about-vision  .text{
    font-family: 'Prompt', sans-serif;
    text-align: center;
}

#about-vision .text-2 h2,
#about-vision .text h2{
    color: #919191;
}
#about-vision .text-2 ul li{
    color: #4b4b4bdb;
}
#about-vision .text-2 ul{
    padding-inline-start: 0;
    list-style: none;
}
#about-vision .text h3{
    color: #4b4b4bdb;
    font-family: 'Prompt', sans-serif;
    padding: 0 25%;
    font-weight: 200;
    font-size: 35px;
}
#about-vision  .text-2{
    font-family: 'Prompt', sans-serif;
    padding:7% 25% 0 25%;
}
.about-service-2{
    display: block;
    position: relative;
    background-image: url('/image/mainpage/about/7. IT Solution.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-color:#fff;
    text-align: left;
    font-family: 'Prompt', sans-serif;
}
.about-service-2{
    padding: 100px 0;
    width: 100%;
}
.about-service-2 h2{
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    color:#000;
}
/* .about-service-2 h2::before {
    content: "-";
    color:#d01418;
} */
/* .about-service-2 h2::before {
    position: absolute;
    display:block;
    top:0;
    left:0;
    bottom:0;
    content: attr(data-content);
    background-color:#FFF;
    color:#FFF;
    z-index:-1;
    padding-right:.5em;
} */

/* .about-service-2 h2::after {
    position:absolute;
    content:'';
    display: block;
    width: 10%;
    right:55%;
    top:45%;
    background-color:rgb(231, 14, 14);
    height:1px;
    min-height:2px;
    z-index:-2;
} */

.about-service-2 .title{
    font-family: 'Prompt', sans-serif;
}

.about-service-2 .left-side{
    padding: 0 9%;
}
.about-service-2 .row{
    margin-right: 0;
    margin-left: 0;
}
.about-service-2 .service-box{
    box-shadow: 0 0 10px -3px rgba(0,0,0,0.2);
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 20px;
}
.about-service-2 .service-box i{
    font-size: 40px;
    color: #999999;
    position: absolute;
}
.about-service-2 .service-box p{
    margin-left: 50px;
    margin-top: 10px;
    font-weight: bold;
    color:#000;
}
.about-service-2 .service-box:before{
    content: '';
    background: rgba(208,20,24,.1);
    width: 30px;
    height: 25px;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    right: 15px;
    border-top-left-radius: 7px;
    z-index: 1;
    transition: all 0.4s ease;
}
.about-service-2 .service-box:hover{
    background: rgb(46 46 46 / 10%);;
    transition: all 0.4s ease;
    cursor: pointer;
}
.about-service-2 .service-box:hover .service-box:before{
    background:transparent;
}
/* .about-service-2 .service-box::before{
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    font-weight: 900;
    content: "\f14a";
    color: #ca2027;
} */
#our-service{
    position: relative;
    background-image: url('/image/mainpage/about/8. Our Service.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding: 200px 0 200px 0;
}
#our-service h2{
    font-family: 'Prompt';
    font-weight: 900;
    font-style: normal;
    margin-bottom: 50px;
    margin-top: 0px;
    color: #505050;
    text-transform: uppercase;
}
#our-service h2{
    font-family: 'Prompt';
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}
#our-service h3{
    font-family: 'Prompt';
    color: #4b4b4bdb;
    font-weight: 400;
    font-size: 16px;
}

#our-service .service-box{
    margin-bottom: 30px;
    text-align: center;
    margin-top: 50px;
}
#our-service .service-box h3{
    color: #505050;
    font-family: Prompt;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 88%;
}
#our-service .service-box p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #505050;
}
#our-service .service-box span{
    color:#ca2027;
}
#our-service .service-box .icon img{
    height: 50px;
    width: auto;
}
#our-service .our-img{
}
/* #our-service .our-img img{
    border-left: 8px solid #fff;
    border-bottom: 8px solid #fff;
} */


.form-control{
    border:1px solid #ddd;
}
.contact-content{
    background: #ca2027;
    color:#fff;
    padding: 55px;
    text-align: center;
    margin-top: 20px;
}
.contact-content h2{
    font-weight: bold;
    margin-bottom: 30px;
}
.contact-content .btn-danger{
    background: rgba(255,255,255,.3);
    border:none;
    padding: 15px;
    margin-top: 30px;
}
.contact-content .btn-danger:hover{
    background: #fff;
    color:#000;
    transition: all 0.3s ease 0s;
}
.contact-form{
    margin-bottom: 30px;
}
.contact-form h1{
    color:#000;
    font-weight: bold;
    margin-bottom: 30px;
}
.contact-form .form-control{
    margin-bottom: 15px;
}
.contact-map{
    margin-bottom: 50px;
}
.contact-map iframe{
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
}
.contact-map .service-box{
    text-align: center;
    /* background: #ca2027; */
    color:#000;
    padding: 20px;
}
.contact-map .service-box i{
    font-size: 60px;
    color:#ff4646;
}
@media (min-width:320px) and (max-width:600px){
    .panel-about p {
        width: 100%;
        line-height: 35px;
    }
    #our-service h2 {

        font-size: 22px;
        width: 100%;

    }
    .about-service-2 .service-box {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
