body{
    font-family: 'Prompt', sans-serif;
}
/*Navbar*/
.navbar-default{
    font-family: 'Prompt', sans-serif;
    box-shadow: 0 0 10px -3px rgba(0,0,0,0.2);
}
.navbar-default li a{
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.navbar-default .navbar-brand{
    font-family: 'Prompt', sans-serif;
}
.navbar-default .navbar-nav:nth-child(1){
    width: 80%;
    text-align: right;
    padding-left: 30%;
}
@media (max-width:1200px) {
    .navbar-default .navbar-nav:nth-child(1){
        padding-left: 25%;
    }
}
.navbar-default .navbar-nav li a{
    color:#919191;
}
.navbar-default .navbar-nav .btn-quotation{
    margin-top: 10px;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar-default .container-fluid{
    border-top:1px solid #f4f4f4;
    padding-right: 30px;
}

.navbar-default .navbar-top{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}
.navbar-default .navbar-top .navbar-center{
    text-align: center;
}
.navbar-default .navbar-top ul{
    width: 30%;
    display: inline-block;
}
.navbar-default .navbar-top ul .img-brand{
    height: 30px;
    width: auto;
}
.navbar-default .navbar-top ul li{
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
}
.navbar-default .navbar-top ul .social{
    height: 28px;
    width: 28px;
    padding-top: 6px;
    color:#505050;
    border: 1px solid #505050;
    text-align: center;
    border-radius: 50px;
}
.navbar-default .navbar-top ul .social:hover{
    background: #505050;
    color:#fff;
    cursor: pointer;
}
.navbar-default .navbar-top .navbar-top-right{
    text-align: right;
    padding-right: 30px;
}
.navbar-default .navbar-top .navbar-top-right li:nth-child(1){
    margin-right: 25px;
}
.mobile-navbar{
    display: none;
}
.sidenav{
    display: none;
}
@media (max-width:991.98px){
    nav{
        display: none;
    }
    .mobile-navbar{
        display: block;
    }
    .sidenav{
        display: block;
    }
}
/*Mobile*/
.mobile-navbar{
    display: none;
    width: 100%;
    height: 70px;
    background-color: rgba(255,  255, 255, 0.95);
    box-shadow: 0 0 10px rgb(0 0 0 / 15%), 10px 10px 10px rgb(0 0 0 / 5%);
    padding-top: 10px;
    position: fixed;
    top: 0;
    z-index: 999999;
}
.mobile-navbar li{
    list-style: none;
    width: 49%;
    display: inline-block;
}
.mobile-navbar .logo img{
    margin-top: 5px;
}
.mobile-navbar .bar{
    float: right;
    text-align: right;
    font-size: 25px;
    color:#000;
    padding-right: 20px;
    margin-top: 5px;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
.sidenav .arrow{
    float: right;
}

/*Dropdown*/
.dropdown-2{
    position: relative;
    list-style: none;
}
.dropdown-menu-2,
.menu-right-2{
    position: relative;
    width: 100%;
    display: none;
    /* top:50px;
    left: 0;
    opacity: 0;
    visibility: hidden; */
    transition: all 0.3s ease;
}

.dropdown-menu-2 li{
    list-style: none;
}
.dropdown-menu-2 li h4{
    color:#d01418;
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
}
.icon-1::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    float: right;
}
.menu-item-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 25px;
}
.menu-item-2:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    margin-right: 10px;
}
.dropdown-menu-2 .dropdown-right-2 .menu-item-2{
    font-size: 14px;
}
.dropdown-right-2:hover .menu-right-2{
    display: block;
    transition: all 0.3s ease-in-out;
}
.dropdown-2:hover .dropdown-menu-2{
    display: block;
    transition: all 0.3s ease-in-out;
    /* top:34px;
    opacity: 1;
    visibility: visible; */
}
.dropdown-2:hover .icon-1::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
}


/* .dropdown-menus2{
    padding-left: 20px;
}
.dropdown-menus2 li{
    list-style: none;
}
.dropdown-menus2 .menu-item-dropdowns{
    margin-top: -30px;
    position: relative;
}
.dropdown-menus2 .menu-item-dropdowns:nth-child(1){
    margin-top: 10px;
}
.dropdown-menus2 .dropdown-right2 .menu-right2{
    display: none;
}
.dropdown-menus2 .menu-item-dropdowns:focus .menu-right2{
    display: block;
} */
    .navbar-brand{
        float: left;
        height: 60px;
        padding: 0 15px 19.5px 15px;
        line-height: 21px;
    }
    .sidenav .btn-danger{
        color:#fff;
        width: 100%;
        border-radius: 50px;
    }

  .sidenav a {
    padding: 8px 32px 18px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #202020;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #3f3f3f;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 50px;
    margin-left: 50px;
    margin-top: -20px;
  }
    .sidenav img{
        height: 25px;
        width: auto;
    }
    .sidenav .social-mobile{
        width: 100%;
        text-align: center;
        border-top:1px solid #ca2027;
        padding-top: 20px;
        margin-top: 20px;
        z-index: 1;
    }
    .sidenav .social-mobile li{
        list-style: none;
        display: inline-block;
        height: 35px;
        width: 35px;
        padding-top: 9px;
        background: #fff;
        border-radius: 50px;
        color:#eb6864;
        text-align: center;
        margin: 5px;
    }
    .sidenav .quotation-mobile{
        width: 150px;
        border:1px solid #eb6864;
        background: #eb6864;
        color:#fff;
        border-radius: 50px;
        height: 38px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }


  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

    /*-------------------------- Mobile แนวตั้ง------------*/
        @media  (min-width: 320px)  and (max-width: 736px) {
            .navbar-default,.header{
                display: none;
            }
            .mobile-navbar{
                display: block;
            }
            main{
                margin-top: -53px;
            }
        }
    /*-------------------------- Mobile แนวนอน------------*/
    @media  (min-width: 736px)  and (max-width: 766.99px) {
        .navbar-default,.header{
            display: none;
        }
        .mobile-navbar{
            display: block;
        }
        main{
            margin-top: -53px;
        }
    }
    /*-------------------------- iPad แนวตั้ง------------*/
        @media  (min-width: 767px)  and (max-width: 1023px) {
            .navbar-default,.header{
                display: none;
            }
            .mobile-navbar{
                display: block;
            }
            main{
                margin-top: -53px;
            }
        }
 /*-------------------------- iPad แนวนอน------------*/
        @media  (min-width: 1024px)  and (max-width: 1030px) {
            .header{
                padding: 6.5rem 3rem 1rem 3rem;/*บน ขวา ล่าง ซ้าย*/
            }
        }
 /*-------------------------- Notebook------------*/
        @media  (min-width: 1030px)  and (max-width: 1366px) {

        }
  /*-------------------------- Desktop ------------*/
        @media  (min-width: 1900px)  and (max-width: 1950px) {

        }





/*========= Footer ========*/
.footer{
    background-color: #fff;
    border-top:1px solid #ddd;
    padding-top: 30px;
    position: relative;
}
.footer h4{
    font-family: 'Prompt', sans-serif;
    color: #505050;
}
.footer p{
    color: #505050;
}
.footer li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 14px;
}
.footer .about li{
    cursor: pointer;
    list-style: circle;
    margin-left: 10px;
    color: #505050;
    transition: 0.7s;

}
.footer .about li:hover{
    transform: scale(1.1);
}
.footer .copy-right{
    width: 100%;
    text-align: center;
    border-top: 1px solid #f4f4f4;
    padding: 15px 0;
    color: #505050;
}
.footer img{
    height: 210px;
    margin-top: -10px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 0;
}
.footer .form-control {
    border-radius: 20px;
}
.footer .btn {
    border-radius: 20px;
}

/* home */
:root {
    --swiper-theme-color: #eb6864 !important;
}
html,
body {
  height: 100%;
  font-family: 'Prompt', sans-serif !important;
}

body {
  background: #f8f8f8;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  margin-top: 120px;
}

.swiper-container {
  width: 100%;
  height: 450px;
}
.swiper-container-3{
    height: 300px;
}
.swiper-container-3 .swiper-slide{
    margin-right: 10px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swipper-sf img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 15px 0;
}
.swipper-sf{
    margin: 30px 0;
}
.swipper-sf .container{
    background-color: #fff;
}
.swiper-slide .text{
    padding: 80px;
    height: 100%;
    text-align: start;
}
.swiper-slide .text h3{
    font-size: 13px;
    color: #003580;
    font-weight: 600;
}
.swiper-slide .text h2{
    font-size: 20px;
    font-weight: 600;
}
.swiper-slide .text p{
    font-size: 13px;
}
.col-brands .box-1{
    padding-right: 10px;
}
.col-brands .box-2{
    padding-left: 10px;
}
.col-brands .box-3{
    padding-top: 20px;
}
.swiper-container-2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.col-news .row>*,
.col-product .row>*{
    padding-right: 0;
    padding-left: 0;
}
.col-product .text h2{
    font-size: 18px;
    margin: 20px 0;
}
.col-product .swiper-slide .text-1{
    padding: 0 30px;
    height: 100%;
    text-align: center;
}
.col-product .swiper-slide .text-1 h3{
    font-size: 12px;
    color: #505050;
}
.col-product .swiper-slide .text-1 h2{
    font-size: 14px;
    color: #202020;
    font-weight: 200;
    margin-top: 10px;
}
.col-product .swiper-slide .text-2 {
    font-size: 10px;
    color: #d4d4d4;
}
.col-product .swiper-slide .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .col-product .btn-primary:hover {
    background-color: #999999;
    border-color: #999999;
}
.col-product  .btn:hover, .btn:focus,
.col-product .btn.focus {
    text-decoration: none;
}
.col-product  .btn-primary {
    background-color: #999999;
    border-color: #999999;
}
.col-product .btn {
    border-radius: 25px;
    font-size: 10px;
    font-weight: 200;
    padding: 5px 20px;
    z-index: 11;
}
.col-news{
    margin: 50px 0;
    position: relative;
}
.col-news .container{
    background: #fff;
}

.col-news .box {
    text-align: center;
    background-color: #F4F4F4;
    padding: 10px;
    position: absolute;
    left: 34%;
    width: 400px;
    z-index: 10;
    bottom: 9%;
}
.col-news .box h2{
    font-size: 22px;
}
.col-news .box h3 {
    font-size: 16px;
    font-weight: 200;
    color: #999999;
    padding: 0 30px;
}
.col-news .box p{
    text-align: end;
    font-size: 11px;
    font-weight: 200;
    color: #999999;
    margin: 0;
}
.swiper-container-4{
    padding: 0 0px 0px 27% !important;
}
.text-news p {
    padding-left: 29%;
    padding-top: 10%;
}
.text-news .text-1{
    text-align: start;
}
.text-news .text-1 h2{
    font-size: 16px;
    margin-top: 0%;
}
.text-news .text-1 p {
    font-size: 10px;
    padding-left: 0%;
    padding-top: 0;
}
.col-news .swiper-slide{
    display: block !important;
}
.col-news .box-news{
    margin: 5px 0;
    width: 100%;
    height: auto;
    display: flex;
}
.col-news .pic-news{
    height: auto;
    /* adjust in the future */
}
.col-news .swiper-slide img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.rammounts-panel{
    width: 100%;
    height: 550px;
    display: block;
    position: relative;
    background-image: url('/image/bg-rammounts.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Prompt', sans-serif;
    margin-top: -50px;
}

.otterbox-panel{
    width: 100%;
    height: 550px;
    display: block;
    position: relative;
    background-image: url('/image/bg-otterbox.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Prompt', sans-serif;
    margin-top: -50px;
}

.armor-x-panel{
    width: 100%;
    height: 550px;
    display: block;
    position: relative;
    background-image: url('/image/armor-x-bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Prompt', sans-serif;
    margin-top: -50px;
}
}
.armor-x-panel-2{
    position: relative;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px -3px rgba(0,0,0,0.2);
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    color:#505050;
    margin-top:-50px ;
}
.armor-x-panel-2 h2{
    font-family: 'Prompt', sans-serif;
    color:#505050;
    margin-bottom: 30px;
}
.armor-x-panel-2 .icon{
    list-style: none;
    display: inline-block;
    height: 30px;
    width: 30px;
    padding-top: 8px;
    text-align: center;
    background: #505050;
    color:#fff;
    border-radius: 50px;
}
.armor-x-panel-3{
    background: #fff;
    color:#505050;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.armor-x-panel-3 h4{
    font-family: 'Prompt', sans-serif;
    color:#505050;
    margin-bottom: 20px;
}
.armor-x-panel-3 iframe{
    width: 100%;
    height: 400px;
}
.armor-x-panel-3 .btn{
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
#accordion-3 .panel{
    border-radius: 0px;
    box-shadow: none;
    border: none;
    margin-bottom: 6px;
}
#accordion-3 .panel-category{
    background: red;
}
#accordion-3 .panel-heading{
    border-radius: 0px;
    background-color:#f4f4f4;
    padding:0;
}
#accordion-3 .panel-title{
    margin-bottom: -10px;
    text-transform: uppercase;
}
#accordion-3 .panel-title a{
    display: block;
    color: #db4942;
    font-size: 16px;
    padding:14px 0px;
    padding-left: 15px;
    font-weight: bold;
    position: relative;
    /* border-top:3px solid #2ca093; */
}
#accordion-3 .panel-title a.collapsed{
    border-top:0;
}
#accordion-3 .panel-title a:hover,
#accordion-3 .panel-title a:focus{
    text-decoration: none;
    outline: none;
}
#accordion-3 .panel-title a:before,
#accordion-3 .panel-title a.collapsed:before{
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color:#db4942;
    position: absolute;
    top:10px;
    right:12px;
    font-size: 14px;
    line-height: 24px;
}
#accordion-3 .panel-title a.collapsed:before{
    content: "\f078";
}
#accordion-3 .panel-body{
    color: #8a8a8a;
    font-size: 14px;
    line-height: 20px;
    background:#f4f4f4;
    padding: 5px 27px 15px;
    border-top: 0px none;
}
#accordion-3 .panel-body li{
    list-style: none;
}
#accordion-3 .panel-body .sub-title,#accordion-3 .panel-body ul li a{
    color:#505050;
    text-decoration: none;
}
#accordion-3 .panel-body ul{
    padding: 0px;
    padding-left: 5px;
    display: none;
    border-left: 1px dashed #8c8c8c;
}
#accordion-3 .panel-body ul.active{
    display: block;
}
#accordion-3 .panel-body ul li{
    line-height: 35px;
    font-size: 13px;
    padding-left: 10px;
    text-transform: uppercase;
}
#accordion-3 .panel-body .sub-title{
    width: 100%;
    display: block;
    /* background: #f4f4f4; */
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#accordion-3 .panel-body .sub-title:hover,#accordion-3 .panel-body ul li:hover{
    background: #f4f4f4;
    cursor: pointer;
}
#accordion-3 .panel-body .sub-title:hover,#accordion-3 .panel-body ul li label{
    font-weight: normal;
}
#accordion-3 .panel-body ul li:hover a{
    color:#505050;
    /* padding-left: 15px; */
}
#accordion-3 .panel-body .arrow-right{
    float: right;
    margin-top: 5px;
}

.armor-x-panel-3 .container{
    margin-top: 50px;
}

.armor-x-panel-3 .product-grid{
    font-family: 'Prompt', sans-serif;
    text-align: center;
    border: 1px solid #ebebeb;
    margin-bottom: 25px;
}
.armor-x-panel-3 .product-grid .product-image{
    overflow: hidden;
    position: relative;
    height: 250px;
}
.armor-x-panel-3 .product-grid .product-image a.image{ display: block; }
.armor-x-panel-3 .product-grid .product-image img{
    width: 100%;
    height: auto;
    transition: all 0.05s ease 0s;
}
.armor-x-panel-3 .product-grid:hover .product-image img{ transform: scale(1.1); }
.armor-x-panel-3 .product-grid .product-new-label{
    color: #fff;
    background: #db4942;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 25px;
    height: 23px;
    padding: 0 8px 0 15px;
    position: absolute;
    top: 10px;
    right: 0;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 20% 50%, 0% 0%);
}
.armor-x-panel-3 .product-grid .product-links{
    /* background-color: #eb6864; */
    background: #fff;
    border:1px solid #ddd;
    padding: 7px 10px;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0;
    transition: all 0.3s ease 0s
}
.armor-x-panel-3 .product-grid:hover .product-links{ opacity: 1; }
.armor-x-panel-3 .product-grid .product-links li{
    margin: 0 0 7px;
    transform: translateX(30px);
    transition: all 0.3s ease 0s;
}
.armor-x-panel-3 .product-grid .product-links li:nth-child(2){ transition: all 0.3s ease 0.05s; }
.armor-x-panel-3 .product-grid .product-links li:nth-child(3){ transition: all 0.3s ease 0.1s; }
.armor-x-panel-3 .product-grid .product-links li:nth-child(4){ transition: all 0.3s ease 0.15s; }
.armor-x-panel-3 .product-grid .product-links li:last-child{ margin: 0; }
.armor-x-panel-3 .product-grid:hover .product-links li{ transform: translateX(0); }
.armor-x-panel-3 .product-grid .product-links li a{
    color: #000;
    font-size: 20px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.armor-x-panel-3 .product-grid .product-links li a:hover{
    color: #eb6864;
    text-shadow: 3px 3px 0 rgba(255,255,255,0.2);
}
.armor-x-panel-3 .product-grid .product-links li a:before,
.armor-x-panel-3 .product-grid .product-links li a:after{
    content: attr(data-tip);
    color: #fff;
    background: #000;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    text-shadow: none;
    padding: 5px 10px;
    white-space: nowrap;
    display: none;
    transform: translateY(-50%);
    position: absolute;
    right: 45px;
    top: 50%;
    transition: all 250ms ease-in-out 0s;
}
.armor-x-panel-3 .product-grid .product-links li a:after{
    content: '';
    height: 10px;
    width: 10px;
    padding: 0;
    transform: translateY(-50%) rotate(45deg);
    right: 41px;
    z-index: -1;
}
.armor-x-panel-3 .product-grid .product-links li a:hover:before,
.armor-x-panel-3 .product-grid .product-links li a:hover:after{
    display: block;
}
.armor-x-panel-3 .product-grid .product-content{
    text-align: center;
    padding: 25px 15px;
}
.armor-x-panel-3 .product-grid .title{
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 26px;
}
.armor-x-panel-3 .product-grid .title a{
    color: #222;
    transition: all 0.3s ease 0s;
}
.armor-x-panel-3 .product-grid .title a:hover{ color: #eb6864; }
.armor-x-panel-3 .product-grid .price{
    color: #eb6864;
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 4px;
}
.armor-x-panel-3 .product-grid .price span{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
}
.armor-x-panel-3 .product-grid .add-to-cart{
    color: #eb6864;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 0.6px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #eb6864;
    transition: all 0.3s ease 0s;
}
.armor-x-panel-3 .product-grid:hover .add-to-cart {
    color: #fff;
    background: #eb6864;
    padding: 8px 25px;
    border-radius: 50px;
}
@media screen and (max-width: 990px){
    .armor-x-panel-3 .product-grid{ margin: 0 0 30px; }
}
#product-detail{
    margin-top:-82px;
}
#product-detail h2{
    font-family: 'Prompt', sans-serif;
}
#product-detail .btn-block{
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}
#product-detail .product-content li{
    position: relative;
    width: 100%;
    height: 80px;
    list-style: none;
    display: block;
    border-bottom: 1px solid #ddd;
    padding-top: 30px;
}
#product-detail .product-content .list{
    float: right;
}
#product-detail .product-content .list span{
    font-weight: normal;
    cursor: pointer;
}
#product-detail .product-content .list span.active{
    font-weight: normal;
    background: transparent;
    border:2px solid #505050;
    color:#505050;
}
#product-detail .product-content .list input[type="radio"]{
    margin-left: 10px;
}
#product-detail .product-content .list label{
    font-weight: normal;
}
#show-list{
    width: 100%;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .wan-spinner {
        /* border: 1px solid #dddddd; */
        margin-top: -10px;
        display: inline-block;
    }

  .wan-spinner .minus,
  .wan-spinner .plus,
  .wan-spinner input {
    height: 35px;
    float: left;
    line-height: 1em;
    padding: 5px;
    text-align: center;
  }

  .wan-spinner input {
    border: 1px solid #dddddd;
    /* border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd; */
    margin: 0;
    width: 45px;
    font-weight: bold;
  }

  .wan-spinner .minus,
  .wan-spinner .plus {
    color: #333333;
    cursor: pointer;
    border:none;
    text-decoration: none;
    width: 25px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
  }


#product-detail .product-content select{
    width: 50%;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
    float: right;
}

#product-detail .shared{
    padding: 0px;
    display: inline-block;
}
#product-detail .shared li{
    list-style: none;
    display: inline-block;
    height: 30px;
    width: 30px;
    padding-top: 5px;
    border-radius: 50px;
    border:1px solid #505050;
    text-align: center;
}
#product-detail .shared li:hover{
    background: #505050;
    color:#fff;
    cursor: pointer;
}
#product-detail-2{
    color:#505050;
    padding-top: 50px;
    padding-bottom: 50px;
}
#product-detail-2 h2,#product-detail-2 h3,#product-detail-2 h4{
    font-family: 'Prompt', sans-serif;
    color:#505050;
}
#product-detail-2 h4{
    font-size: 16px;
    margin-top: 30px;
}

/*------- Related Products -----------*/
.related-product{
    width: 100%;
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.related-product h4{
    font-family: 'Prompt', sans-serif;
}
.related-product .swiper-container{
    height: auto;
    margin-top: 50px;
}
.related-product .swiper-container .swiper-slide{
    height: auto;
    padding-bottom: 30px;
}
.related-product .swiper-container .text-1,
.related-product .swiper-container .text-2{
    font-size: 14px;
}
.related-product .swiper-container .text-2{
    margin-bottom: 30px;
}
.related-product .swiper-container .swiper-slide .add-to-cart{
    color: #eb6864;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 0.6px;
    /* padding: 5px 0;
    border-bottom: 1px solid #000; */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #eb6864;
    transition: all 0.3s ease 0s;
}
.related-product .swiper-container .swiper-slide:hover .add-to-cart {
    color: #fff;
    background: #eb6864;
    padding: 10px 25px;
    border-radius: 50px;
    border: 1px solid #eb6864;
}

/*------ Contact Sale ---------*/
/* #modal-contact-sale .modal-box .show-modal{
    color: #fff;
    background-color: #4e4e4e;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
    padding: 10px 15px;
    margin: 80px auto 0;
    border: none;
    outline: none;
    display: block;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
#modal-contact-sale .modal-box .show-modal:hover{
    color: #fff;
    background-color: #db4942;
    border: none;
} */
#modal-contact-sale .modal-box .modal{ top: 10px !important; }
#modal-contact-sale .modal-box .modal-dialog{
    width: 50%;
    margin: 20px auto 0;
}
#modal-contact-sale .modal-box .modal-dialog .modal-content{
    text-align: left;
}
#modal-contact-sale .modal-box .modal-dialog .modal-content img{
    height: 250px;
}
#modal-contact-sale .modal-box .modal-dialog .modal-content .close{
    color: #fff;
    background: #4e4e4e;
    font-size: 28px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    text-shadow: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    left: auto;
    right: 15px;
    top: 15px;
    z-index: 1;
    transition: all 0.3s;
}
#modal-contact-sale .modal-box .modal-dialog .modal-content .close span{
    margin: -6px 0 0 0;
    display: block;
}
#modal-contact-sale .modal-box .modal-dialog .modal-content .close:hover{ text-shadow: 0 0 5px #fff; }
#modal-contact-sale .modal-box .modal-dialog .modal-content .modal-body{ padding: 50px 20px 20px !important; }
#modal-contact-sale .modal-box .modal-dialog .modal-content .modal-body .icon{
    color: #db4942;
    font-size: 60px;
    margin: 0 auto;
}
#modal-contact-sale .modal-box .modal-dialog .modal-content .modal-body .title{
    font-family: 'Prompt', sans-serif;
    color: #db4942;
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 20px;
}
#modal-contact-sale .modal-box h2,
#modal-contact-sale .modal-box h3,
#modal-contact-sale .modal-box h4{
    font-family: 'Prompt', sans-serif;
}
#modal-contact-sale .modal-box .modal-dialog .modal-content .modal-body .description{
    font-family: 'Prompt', sans-serif;
    color: #555;
    font-size: 16px;
}
#modal-contact-sale .modal-box .modal-dialog .modal-content .modal-body .form-group{ margin: 0 0 30px; }
#modal-contact-sale .modal-box .modal-dialog .modal-content .modal-body .form-control{
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none;
    margin: 0 auto 20px;
    border-bottom: 1px solid #000;
}
#modal-contact-sale .modal-box .modal-dialog .modal-content .modal-body .form-control:focus{
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #e8e8ed;
}
#modal-contact-sale .modal-box .modal-dialog .modal-content .modal-body .form-control::placeholder{
    color: #999;
    font-size: 15px;
    font-weight: 300;
}
#modal-contact-sale .modal-box .modal-dialog .modal-content .modal-body .subscribe{
    color: #fff;
    background: #db4942;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 20px;
    border: none;
    display: block;
    transition: all 0.4s ease 0s;
}
#modal-contact-sale .modal-box .modal-dialog .modal-content .modal-body .subscribe:hover{ box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); }
#modal-contact-sale .modal-box .modal-dialog .modal-content .modal-body .subscribe i.fa{ margin-right: 10px; }
@media only screen and (max-width: 576px){
    #modal-contact-sale .modal-dialog{ width: 93% !important; }
}

/*-------------------------- Mobile แนวตั้ง------------*/
@media  (min-width: 320px)  and (max-width: 736px) { 
    .armor-x-panel,.rammounts-panel{
        margin-top: -16%;
    }
    .armor-x-panel-3 .category-menu-panel{
        display: none;
    }
    .armor-x-panel-3 .product-grid .product-image{
        height: auto;
    }
    .armor-x-panel-2{
        width: 90%;
        margin-top: -40%;;
    }
}

/*-------------------------- iPad แนวตั้ง------------*/
@media  (min-width: 767px)  and (max-width: 1023px) { 
    .armor-x-panel,.rammounts-panel{
        margin-top: -9%;
    }
    .armor-x-panel-2{
        width: 90%;
        margin-top: -10%;;
    }
    .armor-x-panel-3 .category-menu-panel{
        display: none;
    }
}