body{
    font-family: 'Prompt', sans-serif;
}
/*Navbar*/
.navbar-default{
    font-family: 'Prompt', sans-serif;
    box-shadow: 0 0 10px -3px rgba(0,0,0,0.2);
}
.navbar-default li a{
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.navbar-default .navbar-brand{
    font-family: 'Prompt', sans-serif;
}
.navbar-default .navbar-nav:nth-child(1){
    width: 80%;
    text-align: right;
    padding-left: 30%;
}
@media (max-width:1200px) {
    .navbar-default .navbar-nav:nth-child(1){
        padding-left: 25%;
    }
}
.navbar-default .navbar-nav li a{
    color:#919191;
}
.navbar-default .navbar-nav .btn-quotation{
    margin-top: 10px;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar-default .container-fluid{
    border-top:1px solid #f4f4f4;
    padding-right: 30px;
}

.navbar-default .navbar-top{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}
.navbar-default .navbar-top .navbar-center{
    text-align: center;
}
.navbar-default .navbar-top ul{
    width: 30%;
    display: inline-block;
}
.navbar-default .navbar-top ul .img-brand{
    height: 30px;
    width: auto;
}
.navbar-default .navbar-top ul li{
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
}
.navbar-default .navbar-top ul .social{
    height: 28px;
    width: 28px;
    line-height: 28px;
    color:#505050;
    border: 1px solid #505050;
    text-align: center;
    border-radius: 50px;
}
.navbar-default .navbar-top ul .social:hover{
    background: #505050;
    color:#fff;
    cursor: pointer;
}
.navbar-default .navbar-top .navbar-top-right{
    text-align: right;
    padding-right: 30px;
}
.navbar-default .navbar-top .navbar-top-right li:nth-child(1){
    margin-right: 25px;
}
.mobile-navbar{
    display: none;
}
.sidenav{
    display: none;
}
@media (max-width:991.98px){
    nav{
        display: none;
    }
    .mobile-navbar{
        display: block;
    }
    .sidenav{
        display: block;
    }
}
/*Mobile*/
.mobile-navbar{
    display: none;
    width: 100%;
    height: 70px;
    background-color: rgba(255,  255, 255, 0.95);
    box-shadow: 0 0 10px rgb(0 0 0 / 15%), 10px 10px 10px rgb(0 0 0 / 5%);
    padding-top: 10px;
    position: fixed;
    top: 0;
    z-index: 999999;
}
.mobile-navbar li{
    list-style: none;
    width: 49%;
    display: inline-block;
}
.mobile-navbar .logo img{
    margin-top: 5px;
}
.mobile-navbar .bar{
    float: right;
    text-align: right;
    font-size: 25px;
    color:#000;
    padding-right: 20px;
    margin-top: 5px;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
.sidenav .arrow{
    float: right;
}

/*Dropdown*/
.dropdown-2{
    position: relative;
    list-style: none;
}
.dropdown-menu-2,
.menu-right-2{
    position: relative;
    width: 100%;
    display: none;
    /* top:50px;
    left: 0;
    opacity: 0;
    visibility: hidden; */
    transition: all 0.3s ease;
}

.dropdown-menu-2 li{
    list-style: none;
}
.dropdown-menu-2 li h4{
    color:#d01418;
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
}
.icon-1::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    float: right;
}
.menu-item-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 25px;
}
.menu-item-2:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    margin-right: 10px;
}
.dropdown-menu-2 .dropdown-right-2 .menu-item-2{
    font-size: 14px;
}
.dropdown-right-2:hover .menu-right-2{
    display: block;
    transition: all 0.3s ease-in-out;
}
.dropdown-2:hover .dropdown-menu-2{
    display: block;
    transition: all 0.3s ease-in-out;
    /* top:34px;
    opacity: 1;
    visibility: visible; */
}
.dropdown-2:hover .icon-1::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
}


/* .dropdown-menus2{
    padding-left: 20px;
}
.dropdown-menus2 li{
    list-style: none;
}
.dropdown-menus2 .menu-item-dropdowns{
    margin-top: -30px;
    position: relative;
}
.dropdown-menus2 .menu-item-dropdowns:nth-child(1){
    margin-top: 10px;
}
.dropdown-menus2 .dropdown-right2 .menu-right2{
    display: none;
}
.dropdown-menus2 .menu-item-dropdowns:focus .menu-right2{
    display: block;
} */

    .sidenav .btn-danger{
        color:#fff;
        width: 100%;
        border-radius: 50px;
    }

  .sidenav a {
    padding: 8px 32px 18px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #202020;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #3f3f3f;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 50px;
    margin-left: 50px;
    margin-top: -20px;
  }
    .sidenav img{
        height: 25px;
        width: auto;
    }
    .sidenav .social-mobile{
        width: 100%;
        text-align: center;
        border-top:1px solid #ca2027;
        padding-top: 20px;
        margin-top: 20px;
        z-index: 1;
    }
    .sidenav .social-mobile li{
        list-style: none;
        display: inline-block;
        height: 35px;
        width: 35px;
        padding-top: 9px;
        background: #fff;
        border-radius: 50px;
        color:#ca2027;
        text-align: center;
        margin: 5px;
    }
    .sidenav .quotation-mobile{
        width: 150px;
        border:1px solid #ca2027;
        background: #ca2027;
        color:#fff;
        border-radius: 50px;
        height: 38px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }


  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

    /*-------------------------- Mobile แนวตั้ง------------*/
        @media  (min-width: 320px)  and (max-width: 736px) {
            .navbar-default,.header{
                display: none;
            }
            .mobile-navbar{
                display: block;
            }
            main{
                margin-top: -53px;
            }
        }
    /*-------------------------- Mobile แนวนอน------------*/
    @media  (min-width: 736px)  and (max-width: 766.99px) {
        .navbar-default,.header{
            display: none;
        }
        .mobile-navbar{
            display: block;
        }
        main{
            margin-top: -53px;
        }
    }
    /*-------------------------- iPad แนวตั้ง------------*/
        @media  (min-width: 767px)  and (max-width: 1023px) {
            .navbar-default,.header{
                display: none;
            }
            .mobile-navbar{
                display: block;
            }
            main{
                margin-top: -53px;
            }
        }
 /*-------------------------- iPad แนวนอน------------*/
        @media  (min-width: 1024px)  and (max-width: 1030px) {
            .header{
                padding: 6.5rem 3rem 1rem 3rem;/*บน ขวา ล่าง ซ้าย*/
            }
        }
 /*-------------------------- Notebook------------*/
        @media  (min-width: 1030px)  and (max-width: 1366px) {

        }
  /*-------------------------- Desktop ------------*/
        @media  (min-width: 1900px)  and (max-width: 1950px) {

        }





/*========= Footer ========*/
.footer{
    background-color: #fff;
    border-top:1px solid #ddd;
    padding-top: 30px;
    position: relative;
}
.footer h4{
    font-family: 'Prompt', sans-serif;
    color: #505050;
}
.footer p{
    color: #505050;
}
.footer li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 14px;
}
.footer .about li{
    list-style: circle;
    margin-left: 10px;
    color: #505050;

}
.footer .copy-right{
    width: 100%;
    text-align: center;
    border-top: 1px solid #f4f4f4;
    padding: 15px 0;
    color: #505050;
}
.footer img{
    height: 210px;
    margin-top: -10px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 0;
}
.footer .form-control {
    border-radius: 20px;
}
.footer .btn {
    border-radius: 20px;
}

/* home */
:root {
    --swiper-theme-color: #eb6864 !important;
}
html,
body {
  height: 100%;
  font-family: 'Prompt', sans-serif !important;
}

body {
  background: #f8f8f8;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  margin-top: 120px;
}

.swiper-container {
  width: 100%;
  height: 450px;
}
.swiper-container-3{
    height: 300px;
}
.swiper-container-3 .swiper-slide{
    margin-right: 10px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swipper-sf img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 15px 0;
}
.swipper-sf{
    margin: 30px 0;
}
.swipper-sf .container{
    background-color: #fff;
}
.swiper-slide .text{
    padding: 80px;
    height: 100%;
    text-align: start;
}
